In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\naveenkumarreddynare\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\naveenkumarreddynare\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\naveenkumarreddynare\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\naveenkumarreddynare\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\naveenkumarreddynare\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
import pandas
pandas.__version__

'1.0.1'

In [3]:
import pandas as pd
import numpy as np

In [4]:
# creating pandas series
# first create numpy array or list
# data = np.array([10,20,30,40])
data = ["hello", 10, 15.8, 'WORLD']
s = pd.Series(data)
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0    hello
1       10
2     15.8
3    WORLD
dtype: object

In [5]:
# creating series from dictionary
new_dict = {"name":"Shreyas", "Occupation": "AI Engineer", "Language":"Python"}
s = pd.Series(new_dict, index=["Occupation","name","Location","Language", "Number"])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
Occupation    AI Engineer
name              Shreyas
Location              NaN
Language           Python
Number                NaN
dtype: object

In [7]:
new_dict = {"name":"Shreyas", "Occupation": "AI Engineer", "Language":"Python"}
s = pd.Series(new_dict, index=["name","Occupation","Language"])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
name              Shreyas
Occupation    AI Engineer
Language           Python
dtype: object

In [8]:
# retrieving elements from series
s[1]

'AI Engineer'

In [9]:
s[0:2]

name              Shreyas
Occupation    AI Engineer
dtype: object

In [10]:
s[['name','Language']]

name        Shreyas
Language     Python
dtype: object

In [11]:
s['Company']

KeyError: 'Company'

In [12]:
type(s)

pandas.core.series.Series

In [13]:
# creating dataframe in pandas
# first create a dictionary
new_dict = {"name":["Shreyas", "Bryan", "Andrew", "Adam"], "Occupation": ["AI Engineer", "Data Scientist", "UI developer", "UX designer"], "Language":["Python", "Tableau", "Javascript", "Photoshop"]}
df = pd.DataFrame(new_dict, index=["A","B","C","D"])

In [14]:
df

      name      Occupation    Language
A  Shreyas     AI Engineer      Python
B    Bryan  Data Scientist     Tableau
C   Andrew    UI developer  Javascript
D     Adam     UX designer   Photoshop

In [15]:
# creating dataframe using list
ls = [["Shreyas", "AI Engineer", "Python"], ["Bryan", "Data Scientist", "Tableau"], ["Andrew", "UI developer", "Javascript"]]
df = pd.DataFrame(ls, columns=["Name","Role", "Tools"])

In [16]:
df

      Name            Role       Tools
0  Shreyas     AI Engineer      Python
1    Bryan  Data Scientist     Tableau
2   Andrew    UI developer  Javascript

In [17]:
data1 = ["Programmer", 25, 10.13, "India"]
data2 = ["hello", 10, 15.8, 'WORLD']
s1 = pd.Series(data1)
s2 = pd.Series(data2)
df = pd.DataFrame({"First Series": s1, "Second Series":s2})

In [18]:
df

  First Series Second Series
0   Programmer         hello
1           25            10
2        10.13          15.8
3        India         WORLD

In [23]:
# reading csv file in pandas
# df = pd.read_csv("Churn_Modelling.csv")
df = pd.read_csv("https://raw.githubusercontent.com/shreyas219/ChurnCsv/master/Churn_Modelling.csv")
# df1 = pd.read_csv("https://github.com/pandas-dev/pandas/blob/master/doc/data/titanic.csv")

In [24]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Estimated Salary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,NaN,Female,42.0,8,159660.80,3,1,0,NaN,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,NaN,2,125510.82,1,1,1,79084.10,0

In [27]:
ls = ["ROWNUMBER","CUSTOMERID","SURNAME","CREDITSCORE","GEOGRAPHY","GENDER","AGE","TENURE","BALANCE","NUMOFPRODUCTS","HASCRCARD","ISACTIVEMEMBER","ESTIMATEDSALARY","EXITED"]
df = pd.read_csv("https://raw.githubusercontent.com/shreyas219/ChurnCsv/master/Churn_Modelling.csv", header=None, names=ls)

In [28]:
df.head()

,ROWNUMBER,CUSTOMERID,SURNAME,CREDITSCORE,GEOGRAPHY,GENDER,AGE,TENURE,BALANCE,NUMOFPRODUCTS,HASCRCARD,ISACTIVEMEMBER,ESTIMATEDSALARY,EXITED
0,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,Estimated Salary,Exited
1,1,15634602,Hargrave,619,France,Female,42,2,0,1,1,1,101348.88,1
2,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,3,15619304,Onio,502,NaN,Female,42,8,159660.8,3,1,0,NaN,1
4,4,15701354,Boni,699,France,Female,39,1,0,2,0,0,93826.63,0

In [29]:
# df = pd.read_csv("pipeSep.csv", sep='|')
df = pd.read_csv("https://raw.githubusercontent.com/shreyas219/ChurnCsv/master/pipeSep.csv", sep='|')
df.head()

      name      occupation       tools
0  Shreyas     AI Engineer      Python
1    Bryan  Data Scientist     Tableau
2   Andrew     UI Engineer  Javascript

In [30]:
df = pd.read_csv("https://raw.githubusercontent.com/shreyas219/ChurnCsv/master/Churn_Modelling.csv")

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.head(10)

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
#selecting columns in a pandas dataframe which returns a series
df['CreditScore']

In [ ]:
type(df['CreditScore'])

In [ ]:
df['CreditScore']

In [ ]:
df.columns

In [ ]:
df['Estimated Salary']

In [ ]:
df.head()

In [ ]:
# adding two columns
df['Age'] + df['Tenure']

In [ ]:
df.Geography + df.Gender

In [ ]:
df['RegionGender'] = df.Geography + ', ' +df.Gender

In [ ]:
df.head()

In [ ]:
# renaming column names
df.columns

In [ ]:
df.rename(columns={"Surname":"Name", "Geography":"Country"})

In [ ]:
df.head()

In [ ]:
df.rename(columns={"Surname":"Name", "Geography":"Country"}, inplace=True)

In [ ]:
df.head()

In [ ]:
print(ls)
# ls.append("REGIONGENDER")
print(ls)

In [ ]:
df.columns

In [ ]:
df.columns = ls

In [ ]:
df.head()

In [ ]:
df = pd.read_csv("Churn_Modelling.csv")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.columns = df.columns.str.replace(' ', '_')

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
# dropping columns
df.drop('RowNumber', axis = 1, inplace=True)

In [ ]:
df.head()

In [ ]:
df.drop(0,axis=0, inplace=True)

In [ ]:
df.head()

In [ ]:
df = pd.read_csv("Churn_Modelling.csv")

In [ ]:
df.head()

In [ ]:
df.drop(['Age','CustomerId'], axis = 1, inplace=True)

In [ ]:
df.head()

In [ ]:
# sorting column values in series and dataframe
df['Surname'].sort_values(ascending=False)

In [ ]:
type(df['Surname'].sort_values(ascending=False))

In [ ]:
df.sort_values('CreditScore', inplace=True)

In [ ]:
df.head()

In [ ]:
# filtering rows in pandas
df = pd.read_csv("Churn_Modelling.csv")

In [ ]:
filter_array = []
for score in df.CreditScore:
    if score > 650:
        filter_array.append(True)
    else:
        filter_array.append(False)

In [ ]:
filter_array[0:4]

In [ ]:
len(filter_array)

In [ ]:
filter_series = pd.Series(filter_array)

In [ ]:
filter_series

In [ ]:
df[filter_series]

In [ ]:
filter_series = df.Age > 40

In [ ]:
filter_series

In [ ]:
df[filter_series]

In [ ]:
df[df.Age > 40]

In [ ]:
df[df.Age > 40]['Tenure']

In [ ]:
# multiple filters
df[(df.Age > 40) & (df.Gender == 'Male')]

In [ ]:
df[(df.Age > 40) | (df.Gender == 'Male')]

In [ ]:
df[df['Surname'].isin(['Hargrave', 'Hill', 'Onio'])]

In [ ]:
df.head()

In [ ]:
# changing data types of columns
df.dtypes

In [ ]:
df['CreditScore'].astype(float)

In [ ]:
df.head()

In [ ]:
df['CreditScore'] = df['CreditScore'].astype(float)

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df = pd.read_csv('Churn_Modelling.csv', dtype={'CreditScore':float})

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
# groupby in pandas
df = pd.read_csv('Churn_Modelling.csv')

In [ ]:
df.head()

In [ ]:
df.groupby('Geography').CreditScore.max()

In [ ]:
df.groupby('Gender').CreditScore.min()

In [ ]:
df[df.Geography == 'Spain'].CreditScore.mean()

In [ ]:
df.groupby('Geography').Balance.agg(['min','max', 'mean', 'median'])

In [ ]:
df.groupby('Geography').max()

In [ ]:
# handling missing values in pandas
df = pd.read_csv('Churn_Modelling.csv')

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().head()

In [ ]:
df.isnull().sum()

In [ ]:
df[df['Age'].isnull()]

In [ ]:
df.shape

In [ ]:
df.dropna()

In [ ]:
df.shape

In [ ]:
df.dropna(how='any').shape # if any values is null in row

In [ ]:
df.dropna(how='all').shape # if all values are null in row

In [ ]:
df.dropna(subset=['Geography','Age'],how='any').shape

In [ ]:
# checking distinct value counts in column
df['Geography'].value_counts()

In [ ]:
df.Geography.value_counts(dropna=False)

In [ ]:
# getting all unique values in column
df.Geography.unique()

In [ ]:
# getting number of unique values in column
df.Geography.nunique()

In [ ]:
# filling missing values
df.isnull().sum()

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df['Geography'].fillna(0)

In [ ]:
df['Geography'].fillna(df['Geography'].mode())

In [ ]:
df['Geography'].mode()

In [ ]:
df['Geography'].fillna(df['Geography'].mode()[0])

In [ ]:
df.isnull().sum()

In [ ]:
df['Age'].fillna(df['Age'].mean())

In [ ]:
df['Age'].mean()

In [ ]:
# selecting multiple rows and multiple columns in pandas
df.shape

In [ ]:
df.head()

In [ ]:
df.loc[0:10,"CustomerId"]

In [ ]:
df.loc[0:10,["CustomerId","CreditScore", "Geography", "Balance"]]

In [ ]:
df.loc[[0,3,8],["CustomerId","CreditScore", "Geography", "Balance"]]

In [ ]:
df.loc[:,["CustomerId","CreditScore", "Geography", "Balance"]]

In [ ]:
df.loc[[0,10,20],:]

In [ ]:
df.loc[df['Geography'] == 'France', ['Geography','Gender']]

In [ ]:
df.loc[df['Age'] == 50, ['Geography','Gender','Age']]

In [ ]:
df.loc[df['Age'] > 50, ['Geography','Gender','Age']]

In [ ]:
df.head()

In [ ]:
df.iloc[0:4, 0:4]

In [ ]:
df.iloc[-8:-2,4:6]

In [ ]:
df.iloc[-8:-2,[2,6,4]]

In [ ]:
df.head()

In [ ]:
df.iloc[:, 1]

In [ ]:
# creating dummy variable
df.head()

In [ ]:
df['Gender'].value_counts()

In [ ]:
df['Gender'] = df['Gender'].map({'Male':0, 'Female':1})

In [ ]:
df.head()

In [ ]:
df = pd.read_csv('Churn_Modelling.csv')

In [ ]:
df.head()

In [ ]:
pd.get_dummies(df['Geography'])

In [ ]:
pd.get_dummies(df['Geography'], prefix='Geography')

In [ ]:
# get dummies for multiple columns
df.head()

In [ ]:
pd.get_dummies(df, columns=['Geography', 'Gender'])

In [ ]:
# dropping first occurence
pd.get_dummies(df, columns=['Geography', 'Gender'], drop_first=True)

In [ ]:
df.head()

In [ ]:
# applying functions on pandas dataframe columns
st = "hello"
len(st)

In [ ]:
df['Gender'].apply(len)

In [ ]:
def convert_to_upper(st):
    a = st.upper()
    return a

In [ ]:
convert_to_upper('hello')

In [ ]:
df['Surname'].apply(convert_to_upper)

In [ ]:
#to_csv
df.head()

In [ ]:
df.shape

In [ ]:
df.to_csv('myfile.csv')

In [ ]:
pd.concat([df.iloc[0:5],df.iloc[-10:-3]],axis = 1)