## Check python version

In [ ]:
!python --version

## Python Syntax

In [ ]:
print("hello world")

## Comments in python

#### Single line comments

In [ ]:
# Welcome to python
# print("hello world")

In [ ]:
a

#### Multiline comments

In [ ]:
"""This is how multiline comment looks like.
Comments helps us to make code more readable
Python ignores the string literal that are not assigned to a variable"""

## Variables in python

In [ ]:
a = 15

In [ ]:
a

In [ ]:
name = 'Shreyas'

In [ ]:
name

In [ ]:
print(name)

In [ ]:
a = 'India'

In [ ]:
print(a)

In [ ]:
p = "python"

In [ ]:
print(p)

#### Variable naming conventions

In [ ]:
# right approach
_name = 'Shreyas'
# or
name = 'Shreyas'

In [ ]:
# this approach would give error and is not the right way
5name = 'Shreyas'

In [ ]:
# this won't give error as the variable name is not starting from a number
name5 = 'Shreyas'

In [ ]:
# variables are case sensitive. name and Name are different variables
name = 'Shreyas'
Name = 'Ben'

In [ ]:
print(name)
print(Name)

In [ ]:
# this will give error as variable names can only contain alpha numeric
nam$ = 'Shreyas'

#### Declaring multiple variables at once

In [ ]:
# Declaring multiple variables with same value in a single line
a = b = c = 256

In [ ]:
print(b)
print(c)

In [ ]:
# Declaring multiple variables with different values
a, b, c = 259, 825, 100

In [ ]:
print(a)
print(b)
print(c)

#### Printing variables

In [ ]:
print("this is number",a)

In [ ]:
print("Hi, I am "+ name)

In [ ]:
print("This is number {} and my name is {}".format(a,name))

#### Scope of the variable

In [ ]:
# Global variable
txt = 'variable1'

def test():
    print("this is {}".format(txt))

test()

In [ ]:
txt = 'variable1'

def test():
    txt = 'variable2' # local variable
    print("this is {}".format(txt))

test()
print(txt)

In [ ]:
def test():
    global var1
    var1 = 'hello'
    print("this is {}".format(var1))
    
test()
print(var1)

In [ ]:
var1 = 'bye'

def test():
    global var1 #this variable is globally accessible
    var1 = 'hello'
    print("this is {}".format(var1))
    
test()
print(var1)

# Data types

## Numeric

In [ ]:
# int
a = 10
b = -10
c = 2352346236521

print(type(a))
print(type(b))
print(type(c))

In [ ]:
# float
a = 10.1
b = -0.95
c = 3462362346.84567347
d = 5.0

print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
a = 2e4 # e = 10 ^ 4
b = 32E2 # E = 10

print(type(a))
print(type(b))
print(a)
print(b)

In [ ]:
# complex
a = 4j
b = -10j
c = 12+9j

print(type(a))
print(type(b))
print(type(c))

## Strings

In [ ]:
a = "hello"
print(type(a))
print("Hello World")

In [ ]:
# multiline strings
a = '''This is multiline string
with a sample text.
We are learning python.'''
print(a)

In [ ]:
a = """This is multiline string
with a sample text.
We are learning python."""
print(a)

In [ ]:
# functions in strings
# length of string. returns number of characters in string.
a = 'Hello'
print(len(a))

In [ ]:
# removes leading and trailing spaces
a = " This is Python! "
print(a)
print(a.strip())

In [ ]:
# converts string to lower and upper case
a = "This is Python!"
print(a.lower())
print(a.upper())

In [ ]:
# replaces a character of part of string with other character or string
print(a.replace('This','That'))

In [ ]:
# splits string in to two parts from the specified character. Resultant is list
a = "This is Python, welcome to the world of python"
print(a.split(","))

In [ ]:
# checks if a particular string is present in other string
print('is' in a)

In [ ]:
print('hello' in a)

In [ ]:
# concatenation of two string
a = 'Hello'
b = 'World'
c = a + b
print(c)

In [ ]:
# cannot concatenate string and numbers
a = 'Hello'
b = 10
c = a + b
print(c)

## Boolean

In [ ]:
a = True
b = False
print(type(a))
print(type(b))

In [ ]:
# comparing two values
print(5>1)
print(450<230)
print(5 == 5)

In [ ]:
# used in loops
a = 5
b = 10
if a < b:
    print("less")
else:
    print("greater")

In [ ]:
# Evaluate values
print(bool('Python'))
print(bool('10'))
print(bool(''))
print(bool(0))

In [ ]:
# examples of some functions where boolean values are used
text = "hello"
print(text.islower())
print(text.isupper())

## List

In [ ]:
# creating list
ls = ['python', 'java', 'r']
print(type(ls))

In [ ]:
# creating list with different type of values
ls = ['python', 2, 2.5]
print(ls)

In [ ]:
# accessing elements of list
print(ls[0])
print(ls[2])

In [ ]:
print(ls[-1]) #access last element
print(ls[:-1]) # access all elements except last
print(ls[::-1]) # reverse list

In [ ]:
ls = ['python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php']
print(ls[3:6]) # from 3 to 6 but not six

In [ ]:
ls[:5]

In [ ]:
ls[4:]

In [ ]:
ls[:-5]

In [ ]:
ls[-4:-2]

In [ ]:
# changing particular value
print(ls)
print(ls[1])
ls[1] = 'android'
print(ls)

In [ ]:
'nodejs' in ls

In [ ]:
len(ls)

In [ ]:
# appending values to the end
ls.append('julia')

In [ ]:
ls

In [ ]:
# inserting values to a particular index
print(ls)
ls.insert(0,'sql')
print(ls)

In [ ]:
# removing element from list
ls.remove('python')
print(ls)
print(ls.remove('javascript'))

In [ ]:
# remove element using pop
ls.pop(5)
print(ls)
ls.pop()
print(ls)
print(ls.pop(1))

In [ ]:
# remove using del keyword
print(ls)
del ls[0]
print(ls)

In [ ]:
ls.clear()
print(ls)

In [ ]:
# copying from one list to other
# issues in copying using =
ls = ['hello', 'I', 'am', 'developer']
ls1 = ls
print(ls)
print(ls1)

In [ ]:
ls1.pop()
print(ls1)
print(ls)

In [ ]:
# copy()
ls = ['hello', 'I', 'am', 'developer']
ls1 = ls.copy()
print("ls before removing : {}".format(ls))
print("ls1 Before removing : {}".format(ls1))
ls1.pop()
print("ls after removing : {}".format(ls))
print("ls1 after removing : {}".format(ls1))

In [ ]:
# copy using list()
ls = ['hello', 'I', 'am', 'developer']
ls1 = list(ls)
print("ls before removing : {}".format(ls))
print("ls1 Before removing : {}".format(ls1))
ls1.pop()
print("ls after removing : {}".format(ls))
print("ls1 after removing : {}".format(ls1))

In [ ]:
# join two list
ls = [1,4,9]
ls1 = ['hello', 'world']
ls2 = ls + ls1
print(ls2)

In [ ]:
# extend method
ls = [1,4,9]
ls1 = ['hello', 'world']
ls.append('Try')
print(ls)
ls.extend(ls1)
print(ls)

## Tuple

In [5]:
# declaring a tuple
tp = ('hello', 'world', 'programmer')
tp1 = 'this','is','python'
print(tp)
print(type(tp1))
print(tp1)

('hello', 'world', 'programmer')
<class 'tuple'>
('this', 'is', 'python')

In [2]:
# accessing tuple
print(tp[1])

world

In [6]:
# accessing last item in tuple
print(tp[-1])

programmer

In [8]:
# accessing range of values from tuple
tp = ('python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php')
print(tp[3:6])
tp234 = tp

('c++', 'ruby', 'kotlin')

In [9]:
print(tp[-4:-2])

('kotlin', 'javascript')

In [10]:
# error while changing values
tp[0] = 'hello'

TypeError: 'tuple' object does not support item assignment

In [11]:
# check if values exist in tuple
'python' in tp

True

In [12]:
# length of tp
len(tp)

9

In [13]:
#creating tuple with one value
tp = ('python',)
print(type(tp))

<class 'tuple'>

In [14]:
tp = ('python')
print(type(tp))
print(tp)

<class 'str'>
python

In [ ]:
# delete tuple
tp = ('python', 'java', 'r', 'c++', 'ruby', 'kotlin', 'javascript', 'nodejs', 'php')
del tp
print(tp)

In [ ]:
# joining two tuple
tp1 = ('python', 'java', 'r', 'c++')
tp2 = ('ruby', 'kotlin', 'javascript', 'nodejs', 'php')
tp3 = tp1 + tp2
print(tp3)

## Sets

In [16]:
# declaring set
s1 = {'hello','I','am', 'Programmer'}
print(s1)

{'hello', 'I', 'am', 'Programmer'}

In [ ]:
# can't access using index
s1[0]
# can use for loop

In [17]:
# check if element exist in set
'am' in s1

True

In [ ]:
# can't change items but can add them
s1.add('python')
print(s1)

In [ ]:
# adding multiple items
s1.update(['java', 'data science'])
print(s1)

In [ ]:
# check length
print(len(s1))

In [ ]:
print(s1)

In [ ]:
# remove element from set
s1.remove('java')
print(s1)

In [ ]:
s1.remove('shreyas') # error as shreyas not present in s1

In [ ]:
# discard words similar to remove but doesn't raise error if element not present in set
s1.discard('shreyas')
print(s1)

In [18]:
# pop removes item in set and return it. first item, in the way set stores in memory, will be removed
s1.pop()
print(s1)

{'I', 'am', 'Programmer'}

In [ ]:
# clear set (delete all elements in set)
s1.clear()
print(s1)

In [ ]:
# delete the set
del s1
print(s1)

In [ ]:
# join two or more sets
s1 = {1,4,7}
s2 = {'hello', 'world'}
s3 = s1.union(s2)
print(s3)

In [ ]:
s1 = {1,4,7}
s2 = {'hello', 'world'}
s2.update(s1)
print(s2)

## Dictionary

In [ ]:
#creating dictionary
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}

In [ ]:
# Accessing dictionary items
print(new_dict['name'])
# or
print(new_dict.get('name'))

In [ ]:
# changing values
new_dict['Occupation'] = "Data Scientist"
print(new_dict)

In [ ]:
# get all keys
print(new_dict.keys())

In [ ]:
# get all values
print(new_dict.values())

In [ ]:
#get both keys and values
print(new_dict.items())

In [ ]:
# check if key is present
print("name" in new_dict)
# or
print("name" in new_dict.keys())

In [ ]:
# check if value is present
print("Shreyas" in new_dict.values())

In [ ]:
# length of dictionary
print(len(new_dict))

In [ ]:
# adding new items
print(new_dict)
new_dict['programming language'] = 'Python'
print(new_dict)

In [ ]:
# removing items from dict
new_dict.pop('Gender')
print(new_dict)

In [ ]:
# remove latest inserted item
new_dict.popitem()
print(new_dict)

In [ ]:
# remove item with del
del new_dict['name']

In [ ]:
print(new_dict)

In [ ]:
# del can also be used to delete entire dictionary
del new_dict

In [ ]:
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}
print(new_dict)

In [ ]:
#clear all elements from dictionary 
new_dict.clear()

In [ ]:
# create copy of dictionary
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}
new_dict1 = new_dict.copy()
print(new_dict1)

In [ ]:
# create copy of dictionary using dict() function
new_dict = {
    "name": "Shreyas",
    "Gender": "Male",
    "Occupation": "AI Engineer",
    "Years of exp": 5
}
new_dict1 = dict(new_dict)
print(new_dict1)

In [ ]:
# creating nested dictionary
new_dict = {
    "key1": {
        "subkey1": "subvalue1",
        "subkey2": "subvalue2"
    },
    "key2":{
        "subkey1": "value1",
        "subkey2": "value2"
    }
}

print(new_dict)